body {
    background-image: linear-gradient(#3d964e, #7ad1a0, #3d964e);
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: sans-serif;
}

#pause {
    position: fixed;
    left: 2vw;
    top: 2vh;
    width: 6vw;
    height: 6vw;
    border-radius: 100%;
    font-size: 25px;
    font-weight: bold;
    color: white;
    background-color: transparent;
    border: 1px solid white;
}

#instruct {
    position: fixed;
    left: 11vw;
    color: white;
}

#levelprogress {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 1vw;
    position: fixed;
    right: 2vw;
    top: 2.5vh;
    width: 25vw;
    height: 9vh;
    background-color: #254633;
    color: white;
    font-size: 30px;
    border-radius: 30px;
}

#staff {
    position: fixed;
    left: 5vw;
    top: 38vh;
    width: 95vw;
    height: 20vh;
    background-color: white;
}
